<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-2col">
        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <ol class="items-list">
            <li class="item flexrow items-header">
              <div class="item-name">Class</div>
            </li>
            {{#each class as |class id|}}
            <li class="item flexrow" data-item-id="{{class._id}}">
              <div class="item-name">
                <div class="item-image">
                  <a class="rollable" data-roll-type="item"><img src="{{class.img}}" title="{{class.name}}" width="24" height="24"/></a>
                </div>
                <h4>{{class.name}}</h4>
              </div>
            </li>
            {{/each}}
            <li class="item flexrow items-header">
              <div class="item-name">Race</div>
            </li>
            {{#each race as |race id|}}
            <li class="item flexrow" data-item-id="{{race._id}}">
              <div class="item-name">
                <div class="item-image">
                  <a class="rollable" data-roll-type="item"><img src="{{race.img}}" title="{{race.name}}" width="24" height="24"/></a>
                </div>
                <h4>{{race.name}}</h4>
              </div>
            </li>
            {{/each}}
          </ol>
          <div class="resource flex-group-center">
            <label for="data.attributes.level.level" class="resource-label">Level</label>
            <div class="resource-content flexrow flex-center flex-between">
              <span class="ability-mod">{{numberFormat data.attributes.level.level}}</span>
            </div>
          </div>
          <label for="data.health.value" class="resource-label">Health</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"/>
          </div>
          <label for="data.health.value" class="resource-label">shields</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.health.value" value="{{data.shield.value}}" data-dtype="Number"/>
        </div>
      </div>
      <div>
        <div class="abilities grid grid-3col">
        {{#each data.abilities as |ability key|}}
          {{#if ability.value}}
          <div class="ability flexrow flex-group-center rollable" data-roll="d20+@abilities.{{key}}.value" data-label="{{key}} check" >
            <lab el for="data.abilities.{{key}}.value" class="resource-label">{{key}}</label>
            <span class="ability-mod">{{numberFormat ability.value decimals=0}}</span>
          </div>
          {{/if}}
        {{/each}}
        {{#each data.optionals as |optional key|}}
           {{#unless optional.locked}}       
                <div data-skill="{{key}}" class="skill-option">
                  <select name="{{key}}" value="{{optional.choice}}">
                    {{#each optional.options as |option|}}
                    <option data-skill-option="{{option}}" value="{{option}}">{{option}}</option>
                    {{/each}}
                  </select>
                  <button class="submit-skill">Submit</button>
                </div>
        
           {{/unless}}
             
        
        {{/each}}
        </div>
        

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">


    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor data.biography target="data.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/far/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/far/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>

